.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  padding-bottom: 30px;
  min-width: 970px;
}

footer {
  text-align: center;
}

.main-container{
  width:100%;
  min-height: 100%;
  height: auto;
}
div.main-container > .row {
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}
div.main-container > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
  float:none;
  display:inline-block;
  white-space:normal;
  vertical-align:top;
}