<div ng-appng-controller="MainCtrl as main">
    <table>
        <tr id="popularity-row">
            <td ng-repeat="item in main.hotItems">
                <p>{{item.name}}</p>
                <img ng-src="{{item.imageUrl}}" />
                <p>Price: {{item.price | currency}}</p>
                <p>Description: {{item.description}}</p>
            </td>
        </tr>
        <tr id="new-row">
            <td ng-repeat="item in main.newItems">
                <p>{{item.name}}</p>
                <img ng-src="{{item.imageUrl}}" />
                <p>Price: {{item.price | currency}}</p>
                <p>Description: {{item.description}}</p>
            </td>
        </tr>
    </table>
</div>