<div ng-controller="MainCtrl as main">
    <h2>Hot Items:</h2>
    <div class="main-container">
        <div class="row">
            <div ng-repeat="item in main.hotItems" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p style="font-weight: bold;"><a ng-href="/#/product/{{item.productId}}">{{item.name}}</a></p>
                <img ng-src="{{item.imageUrl}}" />
                <p>Price: {{item.price | currency}}</p>
                <p>Description: {{item.description}}</p>
            </div>
        </div>
    </div>
    <hr>
    <h2>New Items:</h2>
    <div class="main-container">
        <div class="row">
            <div ng-repeat="item in main.newItems" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p style="font-weight: bold;"><a ng-href="/#/product/{{item.productId}}">{{item.name}}</a></p>
                <img ng-src="{{item.imageUrl}}" />
                <p>Price: {{item.price | currency}}</p>
                <p>Description: {{item.description}}</p>
            </div>
        </div>
    </div>
</div>